.first-page  {
  background-image: url(./images/main.JPG);
  height: 97vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  /* filter: brightness(0.7); */
}
.logo {
  width: 150px;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.second-background {
  background-image: url(./images/second-background.jpeg);
  height: 70vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.medium-title {
  font-family : 'Inter', sans-serif;
  font-weight : 700;
  color : #2B2F34;
}

.main-text {
  font-family : 'Inter', sans-serif;
  font-weight : 400;
  font-size : 25px;
  color :white;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.first-post-img {
  height:400px;
  width:100%;
  object-fit:cover;
}
.small-posts {
  height:200px;
  width:100%;
	object-fit:cover;
}
